/*
 .italiana-regular {
     font-family: "Italiana", sans-serif;
     font-weight: 400;
    font-style: normal;
 }

 .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*/
.about-me-page {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  gap: 4rem;
}
.about-me-page .about-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: 100%;
  margin-right: 1rem;
  font-family: "Inter";
  font-size: 1.2rem;
  color: #9D9D9D;
  -webkit-font-family: "Inter";
  -moz-font-family: "Inter";
  -ms-font-family: "Inter";
  -webkit-font-size: 1.2rem;
  -moz-font-size: 1.2rem;
  -ms-font-size: 1.2rem;
  -webkit-color: #9D9D9D;
  -moz-color: #9D9D9D;
  -ms-color: #9D9D9D;
}
.about-me-page .about-detail h1 {
  font-family: "Italiana";
  font-size: 5.5rem;
  color: #F6F6F6;
  -webkit-font-family: "Italiana";
  -moz-font-family: "Italiana";
  -ms-font-family: "Italiana";
  -webkit-font-size: 5.5rem;
  -moz-font-size: 5.5rem;
  -ms-font-size: 5.5rem;
  -webkit-color: #F6F6F6;
  -moz-color: #F6F6F6;
  -ms-color: #F6F6F6;
}
.about-me-page .about-detail p {
  text-align: justify;
}
.about-me-page .about-detail .qualification-box {
  width: 100%;
  padding: 10px;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-me-page .about-detail .qualification-box .arrow {
  font-size: 10rem;
  margin: 0 0.5rem;
  cursor: pointer;
  opacity: 70%;
}
.about-me-page .about-detail .qualification-box .arrow:hover {
  opacity: 100%;
}
.about-me-page .about-detail .qualification-box #slide {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: 0 1rem;
  padding: 0.5rem;
  -webkit-scrollbar: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.about-me-page .about-detail .qualification-box #slide .counter-box {
  margin: 0 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  white-space: nowrap;
  line-height: 3;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.about-me-page .about-detail .qualification-box #slide .counter-box:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.about-me-page .about-detail .qualification-box #slide .counter-box .counter-detail {
  width: 200px;
  padding: 0.5rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  font-size: 1rem;
  color: #464646;
  -webkit-font-family: "Inter";
  -moz-font-family: "Inter";
  -ms-font-family: "Inter";
  -webkit-font-size: 1rem;
  -moz-font-size: 1rem;
  -ms-font-size: 1rem;
  -webkit-color: #464646;
  -moz-color: #464646;
  -ms-color: #464646;
}
.about-me-page .about-detail .qualification-box #slide .counter-box .counter-detail .counter-icon {
  font-size: 2rem;
}
.about-me-page .about-detail .qualification-box h2 {
  width: 100%;
  font-family: "Italiana";
  font-size: 2rem;
  color: #464646;
  -webkit-font-family: "Italiana";
  -moz-font-family: "Italiana";
  -ms-font-family: "Italiana";
  -webkit-font-size: 2rem;
  -moz-font-size: 2rem;
  -ms-font-size: 2rem;
  -webkit-color: #464646;
  -moz-color: #464646;
  -ms-color: #464646;
}
.about-me-page .about-img {
  margin-top: 5rem;
  height: 100%;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem;
  transform: rotate(-2.5deg);
}
.about-me-page .about-img img {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=aboutMe.css.map */