@import "../helper/variable";
@import "../helper/mixin";


.main-page {
    padding-top: 5%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
    margin-top: 10%;
    height: 100%;
    @include font($title-font, 4rem, $base-black);
    @include animations('fade-in-down 1.5s ease');
    margin-bottom: 10rem;

    .main-page-info {
        width: 100%;
    }

    //left titile
    .aside-left {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        width: 120%;
        .aside-text {
            @include font($detail-font, 30%, $base-black);
        }
        @include transform(rotate(-90deg));

    }

}




//every element
@include keyframes(fade-in-down){
    from {
        opacity: 0;
        transform: translateY(-2.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
