@import "../helper/variable";
@import "../helper/mixin";


.main-profile-pic {
    // margin: 0 auto;
    background-image: url("https://source.unsplash.com/a-close-up-of-a-gray-cats-face-YQlNLVYckRk");
    background-size: cover;
    margin-left: 1rem;
    position: relative;
    overflow: hidden;
    .carousel {
        position: relative;
        z-index: 100;
        text-shadow: 2px 2px 3px $base-green;
        padding-top: 55%;
        /*start the text far right*/
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);

        animation: carousel, 15s, linear, infinite;
        -moz-animation: carousel 15s linear infinite;
        -webkit-animation: carousel 15s linear infinite;
        @include font($title-font, 3rem, $base-white);

    }
}


/*carousel*/
@keyframes carousel {
   from {
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
   }to {
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
   }
}
