@import "../helper/variable";
@import "../helper/mixin";


.main-page {
    width: 100%;
    min-height: 100%;

    @include font($title-font, 4rem, $base-black);

    // .main-page-info {
        border-bottom: 1px solid black;
        height: fit-content;
        text-align: center;
    // }


    @include animations('fade-in-down 1.5s ease');
}

//left titile
.aside-left {
  border-bottom: 1px solid black;
  text-align: center;
  width: 100%;
  left: 0%;
  position: absolute;

  h1 {

      @include font($detail-font, 1.3rem, $base-black);
  }
  @include transform(rotate(-90deg));
}


//every element
@include keyframes(fade-in-down){
    from {
        opacity: 0;
        transform: translateY(-2.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



// .line-bt {
//     width: 100%;
//     height: 1px;
//     background-color: $base-black;
// }
// .line-left {
//     border-left: 1px solid black;
//     height: 100%;
//     position: absolute;
//     left: 7%;
//     margin-top: 8rem;

// }
