
@import "../helper/mixin";
@import "../helper/variable";

//hamburger nav
.nav-btn {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    right: 10%;
    color: $base-white;
    .dropdown {
        position: absolute;
        top: 100%;
        right: 10%;
        background: $base-white;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        width: max-content;
        padding: 1rem 2rem;
        line-height: 1.5rem;
        @include font($detail-font, 1rem, $base-green);
    }


    .hidden {
        display: none;
    }
}


//social tag
.social-tag {

    ul {
        padding: 0.5rem;
        width: 4rem;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 5.5%;
        z-index: 199;
        background-color: $base-green;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        opacity: 50%;
        transition: all linear 180ms;
        &:hover {
            opacity: 100%;
        }
        li {
            display: block;
            margin: 1px 0px;
            text-align: left;
            padding-left: 15px;
            a {
                cursor: pointer;
                width:50px;
                height:50px;
                @include font($detail-font, 1.5rem, $base-white);
                opacity: 60%;
                transition: all linear 120ms;

                &:hover {
                    opacity: 100%;
                    color: $hover-color;
                }
            }
        }

    }
}
