/*
 .italiana-regular {
     font-family: "Italiana", sans-serif;
     font-weight: 400;
    font-style: normal;
 }

 .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*/
.work-main-container {
  display: flex;
  justify-content: space-between;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin-top: 5rem;
}
.work-main-container .categories ul {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}
.work-main-container .views {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

/******ListView******/
.work-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*****GridView*******/
}
.work-content .list-view .list-view-titles {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-left: 1rem;
  background-color: rgba(234, 233, 233, 0.855);
  padding: 0.5rem;
  border-radius: 5px;
}
.work-content .list-view ul {
  line-height: 1rem;
  cursor: pointer;
  font-family: "Inter";
  font-size: 1rem;
  color: #161616;
  -webkit-font-family: "Inter";
  -moz-font-family: "Inter";
  -ms-font-family: "Inter";
  -webkit-font-size: 1rem;
  -moz-font-size: 1rem;
  -ms-font-size: 1rem;
  -webkit-color: #161616;
  -moz-color: #161616;
  -ms-color: #161616;
}
.work-content .list-view ul li {
  display: flex;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
  padding: 0.5rem 3rem 0.5rem 0rem;
  opacity: 60%;
}
.work-content .list-view ul li:hover {
  border-bottom: 0.5px solid grey;
  transform: scale(1.05);
  opacity: 100%;
}
.work-content .list-view ul li .project-content {
  display: flex;
  gap: 10px;
}
.work-content .tools-block, .work-content .url-block {
  font-size: 1.5rem;
  transition: all linear 120ms;
}
.work-content .tools-block:hover, .work-content .url-block:hover {
  color: rgba(247, 138, 5, 0.886);
}
.work-content .grid-view {
  display: flex;
  flex-wrap: wrap;
}
.work-content .grid-view ul li {
  font-weight: 400;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.work-content .grid-view ul li:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.work-content .grid-view ul .project-item {
  position: relative;
  width: 290px;
  height: 300px;
  cursor: pointer;
}
.work-content .grid-view ul .project-item .thumb-inner {
  visibility: hidden;
}
.work-content .grid-view ul .project-item:hover .thumb-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: absolute;
  z-index: 99;
  width: 95%;
  height: 60px;
  bottom: 2%;
  padding: 10px;
  right: 0%;
  transition: all 0.5s ease;
}
.work-content .grid-view ul .project-item:hover .thumb-inner p {
  visibility: hidden;
}
.work-content .grid-view ul .project-item:hover .thumb-inner:hover {
  border-radius: 10px;
  height: 100%;
  background-color: rgba(234, 233, 233, 0.855);
}
.work-content .grid-view ul .project-item:hover .thumb-inner:hover p {
  visibility: visible;
  position: relative;
  opacity: 1;
  color: #191919;
}
.work-content .grid-view ul .project-item .thumb img {
  width: 100%;
  height: 100%;
}
.work-content .grid-view .tools-block-grid {
  font-size: 1.5rem;
}
.work-content .grid-view .tools-block-grid:hover {
  color: rgba(247, 138, 5, 0.886);
}

.hidden {
  display: none;
}/*# sourceMappingURL=workPage.css.map */