@import "../helper/mixin";
@import "../helper/variable";

.work-main-container {
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    margin-top: 5rem;

    .categories  {
        ul {
            display: flex;
            gap: 2rem;
            cursor: pointer;
        }
    }

    .views {
        display: flex;
        align-items: stretch;
        gap: 1rem;
        cursor: pointer;
        font-size: 1.5rem;
    }
}

.work-content {
    width: 100%;

    .list-view {

        .list-view-titles {
            display: flex;
            justify-content: space-between;
            margin: 20px 40px;
            font-weight: 500;
        }

        ul {
            // margin: 0 auto;
            line-height: 1rem;
            cursor: pointer;
            @include font($detail-font, 1rem, $base-green);

            li {
                display: flex;
                justify-content: space-between;
                transition: all 300ms ease-in-out;
                padding: .5rem 3rem .5rem 0rem;
                opacity: 60%;
                &:hover {
                    border-bottom: 0.5px solid grey;
                    transform: scale(1.05);
                    opacity: 100%;
                }

                .project-content {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }

    .tools-block, .url-block {
        font-size: 1.5rem;
        transition: all linear 120ms;
        &:hover {
            color: rgba(247, 138, 5, 0.886);
        }
    }
    .grid-view {
        display: flex;
        justify-content: space-around;
        ul {

            li {

                font-weight: 400;
                padding: 1.5rem;
                background: $base-white;
                border-radius: 10px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                cursor: pointer;
                transition: all 300ms ease-in-out;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }

            }
            .project-item {
                position: relative;
                width: 300px;
                height: 300px;
                cursor: pointer;

                .thumb-inner {
                    visibility: hidden;
                }
                &:hover {

                    .thumb-inner {
                        visibility: visible;
                        position: absolute;
                        z-index: 99;
                        text-align: center;
                        width: 95%;
                        height: 60px;
                        bottom: 2%;
                        padding: 10px;
                        right: 0%;
                        -webkit-transition: all 0.5s ease ;
                        transition: all 0.5s ease;

                        p {
                            visibility: hidden;

                        }

                        &:hover {
                            border-radius: 10px;
                            height: 100%;
                            background-color: rgba(234, 233, 233, 0.855);
                            p {
                                visibility: visible;
                                 position: relative;
                                 opacity: 1;
                                 color: #191919;

                            }
                        }

                    }
                }

                .thumb {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }
        .tools-block-grid {
            font-size: 1.5rem;
        &:hover {
            color: rgba(247, 138, 5, 0.886);
        }
        }
    }

}


.hidden {
    display: none;
}
