/*
 .italiana-regular {
     font-family: "Italiana", sans-serif;
     font-weight: 400;
    font-style: normal;
 }

 .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

*/
.work-main-container {
  display: flex;
  justify-content: space-between;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin-top: 5rem;
}
.work-main-container .categories ul {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}
.work-main-container .views {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.work-content {
  width: 100%;
}
.work-content .list-view .list-view-titles {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  font-weight: 500;
}
.work-content .list-view ul {
  line-height: 1rem;
  cursor: pointer;
  font-family: "Inter";
  font-size: 1rem;
  color: #39452F;
  -webkit-font-family: "Inter";
  -moz-font-family: "Inter";
  -ms-font-family: "Inter";
  -webkit-font-size: 1rem;
  -moz-font-size: 1rem;
  -ms-font-size: 1rem;
  -webkit-color: #39452F;
  -moz-color: #39452F;
  -ms-color: #39452F;
}
.work-content .list-view ul li {
  display: flex;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
  padding: 0.5rem 3rem 0.5rem 0rem;
  opacity: 60%;
}
.work-content .list-view ul li:hover {
  border-bottom: 0.5px solid grey;
  transform: scale(1.05);
  opacity: 100%;
}
.work-content .list-view ul li .project-content {
  display: flex;
  gap: 10px;
}
.work-content .tools-block, .work-content .url-block {
  font-size: 1.5rem;
  transition: all linear 120ms;
}
.work-content .tools-block:hover, .work-content .url-block:hover {
  color: rgba(247, 138, 5, 0.886);
}
.work-content .grid-view {
  display: flex;
  justify-content: space-around;
}
.work-content .grid-view ul li {
  font-weight: 400;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.work-content .grid-view ul li:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.work-content .grid-view ul li .project-item {
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.work-content .grid-view ul li .project-item .thumb-inner {
  position: absolute;
  z-index: 99;
  text-align: center;
  width: 95%;
  height: 60px;
  bottom: 0%;
  padding: 10px;
  right: 0%;
  transition: all 0.4s ease;
}
.work-content .grid-view ul li .project-item .thumb-inner p {
  visibility: hidden;
}
.work-content .grid-view ul li .project-item .thumb-inner:hover {
  border-radius: 10px;
  height: 60%;
  background-color: rgba(198, 201, 204, 0.788);
}
.work-content .grid-view ul li .project-item .thumb-inner:hover p {
  position: relative;
  opacity: 1;
  visibility: visible;
  color: #191919;
}
.work-content .grid-view ul li .project-item .thumb img {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}/*# sourceMappingURL=workPage.css.map */