@import "../helper/mixin";
@import "../helper/variable";

.work-main-container {
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    margin-top: 5rem;

    .categories  {
        @include font($detail-font, 1rem, $base-white);
        ul {
            display: flex;
            gap: 2rem;
            cursor: pointer;
            li {
                transition: all linear 120ms ;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .views {
        display: flex;
        align-items: stretch;
        gap: 1rem;
        cursor: pointer;
        @include font($detail-font, 1.5rem, $base-white);

        div {
            transition: all linear 120ms ;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

/******ListView******/

.work-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .list-view {

        .list-view-titles {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            margin-left: 1rem;
            background-color: rgba(234, 233, 233, 0.855);
            color: $base-green;
            padding: .5rem;
            border-radius: 5px;


        }

        ul {
            // margin: 0 auto;
            line-height: 1rem;
            cursor: pointer;
            @include font($detail-font, 1rem, $base-white);

            li {
                display: flex;
                justify-content: space-between;
                transition: all 300ms ease-in-out;
                padding: .5rem 3rem .5rem 0rem;
                opacity: 60%;
                &:hover {
                    border-bottom: 0.5px solid $base-grey;
                    transform: scale(1.03);
                    opacity: 100%;
                }

                .project-content {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }

    .tools-block, .url-block {
        font-size: 1.5rem;
        transition: all linear 120ms;
        &:hover {
            color: $hover-color;
        }
    }




    /*****GridView*******/
    .grid-view {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        ul {

            li {

                font-weight: 400;
                padding: 1.5rem;
                background: $base-white;
                border-radius: 10px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                cursor: pointer;
                transition: all 300ms ease-in-out;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }

            }
            .project-item {
                position: relative;
                width: 290px;
                height: 300px;
                cursor: pointer;

                .thumb-inner {
                    visibility: hidden;
                }
                &:hover {

                    .thumb-inner {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        visibility: visible;
                        position: absolute;
                        z-index: 99;
                        width: 95%;
                        height: 60px;
                        bottom: 2%;
                        padding: 10px;
                        right: 0%;
                        -webkit-transition: all 0.5s ease ;
                        transition: all 0.5s ease;

                        p {
                            visibility: hidden;
                            text-align: center;

                        }

                        &:hover {
                            border-radius: 10px;
                            height: 100%;
                            background-color: rgba(150, 145, 145, 0.838);

                            p {
                                visibility: visible;
                                 position: relative;
                                 opacity: 1;
                                 color: #191919;

                            }
                        }

                    }
                }

                .thumb {
                    margin: 10px 0;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }
        .tools-block-grid {
            font-size: 1.5rem;
        &:hover {
            color: $hover-color;
        }
        }
    }

}


.hidden {
    display: none;
}
