@import "./helper/mixin";
@import "./helper/variable";


html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: $base-green;
    padding: 0;
    margin: 0;
    font-family: $detail-font;
}

body {
    background-color: $base-white;
    padding: 4em;
    margin: 3em;
    min-height: 100vh;

}



/* Nav bar*/
ul li {
    list-style-type: none;
}

.nav-container {
    cursor: pointer;
    @include font($detail-font, 1rem, $base-green);

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li {
            display: flex;
            align-items: stretch;
            margin-right: 2rem;

        }

    }

}

.globe {
    animation: spin 3s linear infinite;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;

}

@keyframes spin {
    from {
      -moz-transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {

      -moz-transform: rotateY(360deg);
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
