@import "./helper/mixin";
@import "./helper/variable";


html {
    box-sizing: border-box;
    background-color: $based-green;
    padding: 0;
    margin: 0;
}

body {
    background-color: $based-white;
    padding: 4em;
    margin: 3em;

    min-height: 100vh;

}


/* Nav bar*/
ul li {
    list-style-type: none;
}

.nav-container {
    cursor: pointer;
    @include font($detail-font, 1rem, $based-green);

    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 5rem;

        li {
            margin: 1rem;
        }
    }

}
