@import "./helper/mixin";
@import "./helper/variable";


html {
    box-sizing: border-box;
    background-color: $backgroud;
    padding: 0;
    margin: 0;
}

#root {
    color: $base-black;
    width: 100%;
    padding-left: 0;
    margin-left:  0;

}



.link, a {
    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
        color: inherit;
    }

}

/* Nav bar*/
ul li {
    list-style-type: none;
}



.nav-container {
    margin-right: 3rem;
    cursor: pointer;
    @include font($detail-font, 1rem, $base-black);

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // margin-right: 2rem;

        li {
            display: flex;
            margin-right: 2rem;
            .link {
                padding: .5rem;
                position: relative;
                &::after {
                    visibility: hidden;
                    content: "";
                    color: rgb(255, 255, 255);
                    display: block;
                    position: relative;
                    width: 100%;
                    transform: scaleX(0);
                    border-radius: 10px;
                    height: 0.08rem;
                    bottom: 0;
                    left: 0;
                    background-color: $hover-color;
                    transform-origin: bottom right;
                    transition: transform 0.3s ease-out;
                }
                &:hover {
                    &::after {
                        visibility: visible;
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }
    }

}

.globe {
    @include animations('spin 3s linear infinite')
}


 @include keyframes('spin'){
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(360deg)
    }
  }


.line-bt {
    width: 100%;
    height: 1px;
    background-color: $base-black;
}
.line-left {
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
    margin-left: 5rem;
}
