@import "./helper/mixin";
@import "./helper/variable";


html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: $base-green;
    padding: 0;
    margin: 0;
    font-family: $detail-font;


}

#root {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: $base-black;
    border-radius: 1rem;
    padding: 4em;
    margin: 3em;
    min-height: 100vh;
    width: 80vw;
}

.link, a {
    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
        color: inherit;
    }
}

/* Nav bar*/
ul li {
    list-style-type: none;
}

.nav-container {
    cursor: pointer;
    @include font($detail-font, 1rem, $base-white);

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2rem;

        li {
            display: flex;
            align-items: stretch;
            margin-right: 2rem;

        }

    }

}

.globe {
    animation: spin 3s linear infinite;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;

}

@keyframes spin {
    from {
      -moz-transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {

      -moz-transform: rotateY(360deg);
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }
