/*
    fonts & colors
*/

@mixin font($font, $fontSize, $color, $fontWeight:400) {
    font-family: $font;
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;

    -webkit-font-family: $font;
    -moz-font-family: $font;
    -ms-font-family: $font;

    -webkit-font-size: $fontSize;
    -moz-font-size: $fontSize;
    -ms-font-size: $fontSize;

    -webkit-color: $color;
    -moz-color: $color;
    -ms-color: $color;

    -webkit-font-weight: $fontWeight;
    -moz-font-weight: $fontWeight;
    -ms-font-weight: $fontWeight;
}


/*
keyframes & animations
*/
@mixin animations($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    animation: #{$str};
}


@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
};


@mixin transform($action) {

        transform: $action;
        /* Safari */
        -webkit-transform: $action;
        /* Firefox */
        -moz-transform: $action;
        /* IE */
        -ms-transform: $action;
        /* Opera */
        -o-transform: $action;

}
