$title-font: "Italiana";
$detail-font: "Inter";
$base-green: #39452F;
$base-green: #161616;
$base-white: #ffff;

// %rotate {
//     animation: spin 3s linear infinite;
//     -webkit-animation: spin 3s linear infinite;
// }

// @keyframes spin {
//     from {
//         margin-left: -2.75em;
//     }
//     to {
//         margin-left: -1em;
//     }
// }
